POSTGRES_DB_URL = postgresql://vishaljaiswal@localhost:5432/vibo-db
JWT_SECRET =

# Use Transaction Pooler URL
POSTGRES_SUPABASE_DB_URL = 

# Email
RESEND_API_KEY = 

# Internal API Key
INTERNAL_API_KEY = 